@import "./mixins";

.form {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 12px;
  &__row {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 8px;
    &--error {
      input,
      .select {
        border-color: darkred !important;
      }
    }
  }
  &__error {
    @include rhythm(11, 14);
    color: darkred;
    margin: 0;
  }
  &__actions {
    display: flex;
    gap: 12px;
    justify-content: space-evenly;
    margin: 8px auto 0;
    width: 100%;
    button {
      width: 100%;
    }
  }
}
