@import "./mixins";

.input {
  @include transition(border-color, 300ms, ease);
  display: block;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  &__layout--block {
    display: block;
    width: 100%;
  }
  &:focus {
    outline: 0;
    border-color: #b9b9b9;
  }
}
